<div class="col-lg-4 col-md-12" href="#">
    <div class="card">
        <img src="data:{{mimetype}};base64,{{conversion}}" alt="{{name}}" class="card-img-top" />
        <div class="card-body">
            <span class="d-flex justify-content-between"><span
                    class="badge badge{{category}} cat-badge">{{category}}</span>
                {{#if average}}
                <span class="avg-rating">{{average}} star avg.</span>
                {{/if}}
            </span>
            <h5 class="card-title word-wrap">{{name}}</h5>
            <p class="recipeUsername word-wrap">By: {{user.username}}</p>
            <span class="d-flex justify-content-between">
                <span>
                    <i class="far fa-clock card-time"></i>
                    <span class="card-time">{{time}} min</span>
                </span>
                <span class="card-rating">
                    {{format_card_rating rates}}
                </span>
            </span>
            <a href="/recipe/{{id}}" class="stretched-link"></a>
        </div>
    </div>
</div>