<div class="col-lg-4 col-md-12" href="#">
    <div class="card">
        <img src="{{pic_url}}" alt="{{name}}" class="card-img-top" />
        <div class="card-body">
            <span class="badge badge{{category}} cat-badge">{{category}}</span>
            <h5 class="card-title">{{name}}</h5>
            <p class="recipeUsername">By: {{user.username}}</p>
            <span class="d-flex justify-content-between">
                <span>
                    <i class="far fa-clock card-time"></i>
                    <span class="card-time">{{time}} min</span>
                </span>
                <span class="card-rating">
                    <i class="fas fa-star "></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
            </span>
            <a href="/recipe/{{id}}" class="stretched-link"></a>
        </div>
    </div>
</div>