<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="RecipeShare" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>RecipeShare</title>
</head>

<body>
    <!-- header -->
    <section id="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <!-- navbar toggler for mobile -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mx-auto">
                    <!-- home -->
                    <li class="nav-item">
                        <a class="nav-link active nav-cat" aria-current="page" href="/">Home</a>
                    </li>
                    <!-- Recipes -->
                    <li class="nav-item">
                        <a class="nav-link nav-cat" data-toggle="modal" data-target="#recipeBackdrop"
                            href="#">Recipes</a>
                    </li>
                    <!-- Categories -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-cat" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-drop" href="/category/Breakfast">Breakfast</a>
                            <a class="dropdown-item nav-drop" href="/category/Lunch">Lunch</a>
                            <a class="dropdown-item nav-drop" href="/category/Dinner">Dinner</a>
                            <a class="dropdown-item nav-drop" href="/category/Dessert">Dessert</a>
                            <a class="dropdown-item nav-drop" href="/category/Drinks">Drinks</a>
                            <a class="dropdown-item nav-drop" href="/category/Snacks">Snacks</a>
                        </div>
                    </li>
                    {{#if loggedIn}}
                    <!-- Account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-cat" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-drop" href="/post/{{userId}}">Posts</a>
                            <a class="dropdown-item nav-drop" href="/comment/{{userId}}">Comments</a>
                            <a class="dropdown-item nav-drop" href="#">Ratings</a>
                            <a class="dropdown-item nav-drop" href="#" id="logout-form">Logout</a>
                        </div>
                    </li>
                    {{else}}
                    <!-- Login -->
                    <li class="nav-item">
                        <a class="nav-link nav-cat" data-toggle="modal" data-target="#loginBackdrop" href="#">Login</a>
                    </li>
                    <!-- Signup -->
                    <li class="nav-item">
                        <a class="nav-link nav-cat" data-toggle="modal" data-target="#signupBackdrop"
                            href="#">Signup</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </section>

     <!-- jumbotron -->
    <div class="jumbotron text-center">
        <div class="intro">
            <img src="/images/logo.png" alt="" />
            <h1>RecipeShare</h1>
            {{#if loggedIn}}
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#shareBackdrop">Share a
                Recipe</button>
                {{else}}
                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#loginBackdrop">Share a
                Recipe</button>
            {{/if}}
        </div>
        <!-- footer -->
        <footer class="text-white fixed-bottom">
            <div class="mb-3 row justify-content-between" style="margin : 0px">
                <div class="">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/home" role="button"
                        target="_blank"><i class="fab fa-twitter"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="mt-auto mr-2 copyright">
                    © 2021 Copyright: RecipeShare</div>
            </div>
        </footer>
    </div>

    {{#unless loggedIn}}
    <!-- login modal -->
    {{> login}}

    <!-- Signup modal -->
    {{> signup}}
    {{/unless}}

    {{#if loggedIn}}
    {{!-- share recipe modal --}}
        {{> share}}
    {{/if}}

    {{{body}}}
</body>

</html>