<div class="modal fade" id="recipeChosen" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="window.location.href='/'">
                    <span aria-hidden="true" class="close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="recipes">
                    <div class="container justify-content-center d-flex">
                        <div class="col-lg-12 adjust-padding">
                            <div class="text-center">
                                <img src="data:{{post.mimetype}};base64,{{post.conversion}}" alt="{{post.name}}"
                                    class="img-fluid" />
                            </div>
                            <div class="recipeTitle">
                                <h1 class="mb-0 word-wrap">{{post.name}}</h1>
                            </div>
                            <div class="text-center">
                                <span class="badge badge{{post.category}} cat-badge my-0">{{post.category}}</span>
                            </div>
                            <div class="row">
                                <span class="recipe-text col-lg-3 text-center word-wrap">
                                    {{post.user.username}}
                                </span>
                                <span class="col-lg-3 text-center word-wrap">
                                    <i class="far fa-clock card-time"></i>
                                    <span class="card-time">{{post.time}} min</span>
                                </span>
                                <span class="col-lg-3 text-center word-wrap">
                                    <span class="recipe-text">Yield: {{post.serving}} servings</span>
                                </span>
                                
                                <span class="col-lg-3 text-center ">
                                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse stars"
                                        id="{{post.id}}" data-value={{format_type post.rates}}>
                                        {{format_rating post.rates}}
                                    </div>
                                </span>
                            </div>
                            {{#if userPost}}
                            <div class="text-center" id="{{post.id}}">
                                <button type="submit" class="btn btn-black post-btn" id="post-edit">Edit Post</button>
                                <button type="submit" class="btn btn-black post-btn" id="post-delete">Delete
                                    Post</button>
                            </div>
                            {{/if}}

                            <div class="col-lg-10 recipeInst mx-auto my-3 p-3">
                                <h4 class="text-center">Ingredients</h4>
                                <ul class="m-3 row bottom-border word-wrap">
                                    {{#each post.ingredients}}
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">{{measure}} {{name}}</li>
                                    </span>
                                    {{/each}}
                                </ul>
                                <div class="bottom-border">
                                    <h4 class="text-center">Directions</h4>
                                    <p class="mb-1 word-wrap">{{post.directions}}
                                    </p>
                                </div>
                                <div class="">
                                    <h4 class="text-center mt-3">Notes</h4>
                                    <ul>
                                        <li class="ing-list word-wrap">{{post.notes}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-10 mx-auto my-0 px-3 py-0">
                                <h4 class="text-center mt-3">Comments</h4>
                                <label for="NotesText" class="comment-text">Leave a comment!</label>
                                <textarea class="form-control login text-custom font-comment" id="commentText" rows="2"
                                    maxlength="3000" placeholder="What did you think about this recipe?"
                                    required></textarea>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-black comment-button"
                                        id="comment-submit">Comment</button>
                                </div>
                                {{#each post.comments}}
                                <section class="comment my-1 comment-color">
                                    <div class="meta">
                                        {{user.username}} on {{format_date createdAt}}
                                    </div>
                                    <div class="text">
                                        {{text}}
                                    </div>
                                </section>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/54cb967ed1.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<script src="/javascript/index.js"></script>